:root {
    --color: rgba(0 72 255);
    --bg: rgb(174 208 234);
    --bg-grey: rgb(245 245 245);
    --footer-bg: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

img {
    display: block;
}

span {
    color: rgb(90, 90, 90);
    display: inline-block;
}

header nav {
    background-color: white;
    display: flex;
    padding: 0.5em .1rem;
    justify-content: space-between;
}

h1 {
    font-size: 4rem;
    font-family: Arial;
}

h2 {
    font-size: 2rem;
    font-family: Arial;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: Arial;
    padding-bottom: 2rem;
}

h4 {
    font-size: 1rem;
    font-family: Arial;
    padding: 15px 0;
}

h5 {
    font-size: .9rem;
    font-family: Arial;
}

a {
    color: blue;
}


header a {
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    color: #333;
}

header ul {
    display: flex;
    padding-top: .8rem;
}

li {
    list-style: none;

}

.first-section {
    display: flex;
}

.logo {
    padding-top: .4rem;
}

.second-section {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.button-blue {
    color: white;
    background-color: var(--color);
    padding: 10px 10px;
    border: none;

}

.background {
    background-color: var(--bg);
}

.large-container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-section {
    display: flex;
}

.description-header {
    flex-basis: 29%;
}

.img-header {
    flex-basis: 71%;
    position: relative;
}

.image-header {
    width: 100%;
    position: absolute;
}

.padding-header {
    padding-top: 6%;
}

.size-icon {
    font-size: 36px;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

.margin-top {
    margin-top: 100px;
}

.pt-3 {
    padding-top: 3rem;
}

.pl-2 {
    padding-left: 2rem;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-plane {
    border: 1px solid rgb(175, 175, 175);
    padding: 20px;
    width: 30%;
}

.title-card {
    border-bottom: 1px solid rgb(175, 175, 175);
    padding-bottom: 20px;
}

.subtitle-card {
    font-size: 18px;
    font-family: Arial;
    padding: 20px 0;

}

.periodo-card {
    color: grey;
}

.prezzo-card {
    padding: 1rem 0;
}

.lista-card {
    padding: 40px 0 40px;
}

.padding-top {
    padding-top: 58px;
}

.link-card {
    padding: 20px 0;
}

.riga-card {
    border: 1px solid rgb(175, 175, 175);
    width: 20%;
}

.color {
    color: var(--color);
}

.card .lista-card {
    line-height: 25px;
}

.second-card-plane {
    border: 1px solid rgb(175, 175, 175);
    margin-top: 40px;
    padding: 20px;
    display: flex;
}

.second-card .title-card {
    border: none;
    flex-basis: 70%;
    text-align: left;
}

.second-card .button-second-card {
    flex-basis: 30%;
    text-align: right;
}

.button-white {
    color: rgb(90, 90, 90);
    border: 1px solid rgb(90, 90, 90);
    background-color: white;
    padding: 8px;
}

.padding {
    padding: 40px;
}

.container-40 {
    flex-basis: 40%;
}

.img-container {
    flex-basis: 60%;
    position: relative;
}

.image-container {
    width: 100%;
}


.image-card-position {
    width: 100%;
}

.container-60 {
    flex-basis: 60%;
}

.card {
    width: 30%;
}

.container-33-flex {
    flex-basis: 33.33%;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.container-33 {
    flex-basis: 33.33%;
}

.designit-logo {
    width: 60%;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.bg-grey {
    background-color: var(--bg-grey);
}

.bg-footer {
    background-color: var(--footer-bg);
}

.padding {
    padding: 40px;
}

.container-square {
    background-color: red;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.svg-dimension {
    width: 150px;
    filter: invert(1);
}


.color-green {
    background-color: rgb(145 217 151);
}

.color-bordaux {
    background-color: rgb(108 0 40);
}

.color-lightblue {
    background-color: rgb(0 146 213);
}

.color-lightred {
    background-color: rgb(235 0 0);
}

.color-lightgrey {
    background-color: rgb(174 208 234);
}

.color-yellow {
    background-color: rgb(255 220 0);
}

.color-darkblue {
    background-color: rgb(19 13 135);
}

.container-section-2 {
    display: flex;
    padding: 12% 0;
    justify-content: space-between;
}

.style-text {
    color: rgb(108 0 40);
    padding-bottom: 0;
}

.border {
    border: none;
}

.color-black {
    color: black;
    font-weight: bold;
}

.riga {
    border: 1px solid rgb(169 169 169);
}

.section-domande {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

.section-footer {
    padding: 30px 30px 30px 0;
    color: rgb(195, 195, 195);
    line-height: 30px;
}

.none-padding {
    padding-right: 0;
}

.font-size-footer {
    font-size: 1.3rem;
    color: white;
}

.riga-small {
    width: 13%;
}

.fa-color {
    color: rgb(195, 195, 195);
}

.p-30 {
    padding-bottom: 30px;
}

footer a {
    text-decoration: none;
    padding: 0.5rem 0.2rem;
    color: rgb(195, 195, 195);
}