* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    display: flex;
}

h1 {
    font-size: 3rem;
    font-family: Arial;
}

.nav-wrapper {
    display: flex;
    padding: .5rem 0;
}

a {
    text-decoration: none;
    padding: 0.5em 0.5em;
    color: #333;
}

ul {
    display: flex;
    padding-top: .8em;
}

li {
    list-style: none;

}

.first-section {
    display: flex;
}

.logo {
    padding-top: .6em;
}

.second-section {
    display: flex;
    padding-left: 585px;
}

.button-blue {
    color: white;
    background-color: rgba(0 72 255);
    padding: 5px 5px;
    border: none;

}

.background {
    background-color: rgb(174 208 234);
}

.large-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.text-header {
    flex-basis: 29%;
}

.img-header {
    flex-basis: 71%;
}

.image-header {
    width: 100%;
}

.padding-header {
    padding-top: 5%;
}